 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>DevRel Collective exists to facilitate sharing information, resources and encouragement among the Developer Relations community.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you share a passion for the Developer community and you would like to get to know a great group of friendly peers, reach out about joining the collective.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://goo.gl/gLmnim" class="btn btn-lg btn-outline">
                        <i class="fa fa-readme"></i> Our Code of Conduct
                    </a>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://devrelcollective.typeform.com/to/YnQuVJ" class="btn btn-lg btn-outline">
                        <i class="fa fa-slack"></i> Request An Invite
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>Why is this an exclusive group?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We feel it’s important for those of us who are pursuing this career to have a private and safe place to talk about our struggles, offer suggestions and congratulations, seek advice, and create professional relationships with others in the industry. As a result, we are limiting access to this group to those who are actively entrenched in a career in Developer Relations.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you are actively involved in developer communities or event management, we welcome your input on our public Github repos and appreciate your support! Please let us know if there is anything we can do to support you. If you are curious about Developer Relations, whether as a potential career path or as a company, please take a look at the resources listed below and don’t hesitate to ask if you have any questions.</p>
                </div>
            </div>
        </div>
    </section>
