 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We Are Developer Evangelists- and So Can You! (WADE) exists to facilitate sharing information, resources and encouragement among the Developer Evangelist community.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you share a passion for the Developer community and you would like to get to know a great group of friendly peers, reach out about joining the collective.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://goo.gl/forms/1d5PK0TCAI" class="btn btn-lg btn-outline">
                        <i class="fa fa-slack"></i> Join Us
                    </a>
                    <script async defer src="https://evangelistcollective.herokuapp.com/slackin.js?large"></script>
                </div>
            </div>
        </div>
    </section>